<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bossName</key>
		<string>笨小孩1</string>
		<key>createTime</key>
		<string>2017-12-14 15:05:03</string>
		<key>createTimeMs</key>
		<integer>1513235103000</integer>
		<key>dayCode</key>
		<string>20171214</string>
		<key>disPlayDate</key>
		<true/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/ac0fb52d91d7a64a9f30220505f2cb06.png</string>
		<key>id</key>
		<integer>135</integer>
		<key>message</key>
		<string>大吉大利，晚上吃鸡</string>
		<key>msgType</key>
		<integer>1</integer>
		<key>msgTypeText</key>
		<string>红包消息</string>
		<key>packetCode</key>
		<string>81cr0Z201712141505007698</string>
		<key>readStatus</key>
		<integer>2</integer>
		<key>receiveStatus</key>
		<integer>2</integer>
		<key>luckyAmount</key>
		<real>4.97</real>
		<key>themeCode</key>
		<string>them_1</string>
		<key>themeName</key>
		<string>测试1</string>
		<key>themeType</key>
		<integer>1</integer>
		<key>themeTypeText</key>
		<string>普通</string>
		<key>themeUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/88ce3335b5485f16bd65dd5c595f02fd.png</string>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>bossName</key>
		<string>笨小孩1</string>
		<key>createTime</key>
		<string>2017-12-14 15:05:03</string>
		<key>createTimeMs</key>
		<integer>1513235103000</integer>
		<key>dayCode</key>
		<string>20171214</string>
		<key>disPlayDate</key>
		<true/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/ac0fb52d91d7a64a9f30220505f2cb06.png</string>
		<key>id</key>
		<integer>135</integer>
		<key>message</key>
		<string>大吉大利，晚上吃鸡</string>
		<key>msgType</key>
		<integer>1</integer>
		<key>msgTypeText</key>
		<string>红包消息</string>
		<key>packetCode</key>
		<string>81cr0Z201712141505007698</string>
		<key>readStatus</key>
		<integer>2</integer>
		<key>receiveStatus</key>
		<integer>3</integer>
		<key>luckyAmount</key>
		<real>4.97</real>
		<key>themeCode</key>
		<string>them_1</string>
		<key>themeName</key>
		<string>测试1</string>
		<key>themeType</key>
		<integer>1</integer>
		<key>themeTypeText</key>
		<string>普通</string>
		<key>themeUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/88ce3335b5485f16bd65dd5c595f02fd.png</string>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>bossName</key>
		<string>笨小孩2</string>
		<key>createTime</key>
		<string>2017-12-14 15:05:03</string>
		<key>createTimeMs</key>
		<integer>1513235103000</integer>
		<key>dayCode</key>
		<string>20171214</string>
		<key>disPlayDate</key>
		<true/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/ac0fb52d91d7a64a9f30220505f2cb06.png</string>
		<key>id</key>
		<integer>135</integer>
		<key>luckyAmount</key>
		<real>20</real>
		<key>message</key>
		<string>test</string>
		<key>msgType</key>
		<integer>1</integer>
		<key>msgTypeText</key>
		<string>红包消息</string>
		<key>packetCode</key>
		<string>81cr0Z201712141505007698</string>
		<key>readStatus</key>
		<integer>2</integer>
		<key>receiveStatus</key>
		<integer>1</integer>
		<key>themeCode</key>
		<string>them_1</string>
		<key>themeName</key>
		<string>测试1</string>
		<key>themeType</key>
		<integer>2</integer>
		<key>themeTypeText</key>
		<string>普通</string>
		<key>themeUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/38e79ba8856b8dc789431ab72c2f1c11.png</string>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>bossName</key>
		<string>笨小孩3</string>
		<key>createTime</key>
		<string>2017-12-14 15:05:03</string>
		<key>createTimeMs</key>
		<integer>1513235103000</integer>
		<key>dayCode</key>
		<string>20171214</string>
		<key>disPlayDate</key>
		<true/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/ac0fb52d91d7a64a9f30220505f2cb06.png</string>
		<key>id</key>
		<integer>135</integer>
		<key>luckyAmount</key>
		<real>20</real>
		<key>message</key>
		<string>test</string>
		<key>msgType</key>
		<integer>1</integer>
		<key>msgTypeText</key>
		<string>红包消息</string>
		<key>packetCode</key>
		<string>81cr0Z201712141505007698</string>
		<key>readStatus</key>
		<integer>2</integer>
		<key>receiveStatus</key>
		<integer>1</integer>
		<key>themeCode</key>
		<string>them_1</string>
		<key>themeName</key>
		<string>测试1</string>
		<key>themeType</key>
		<integer>1</integer>
		<key>themeTypeText</key>
		<string>普通</string>
		<key>themeUrl</key>
		<string>http://tneopay.oss-cn-shanghai.aliyuncs.com/11/store/head/f6f1fc7ee4b547869ae8b82eafd1f7c3.jpeg</string>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>bossName</key>
		<string>笨小孩4</string>
		<key>createTime</key>
		<string>2017-12-14 15:05:03</string>
		<key>createTimeMs</key>
		<integer>1513235103000</integer>
		<key>dayCode</key>
		<string>20171214</string>
		<key>disPlayDate</key>
		<true/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/ac0fb52d91d7a64a9f30220505f2cb06.png</string>
		<key>id</key>
		<integer>135</integer>
		<key>luckyAmount</key>
		<real>20</real>
		<key>message</key>
		<string>test</string>
		<key>msgType</key>
		<integer>1</integer>
		<key>msgTypeText</key>
		<string>红包消息</string>
		<key>packetCode</key>
		<string>81cr0Z201712141505007698</string>
		<key>readStatus</key>
		<integer>2</integer>
		<key>receiveStatus</key>
		<integer>1</integer>
		<key>themeCode</key>
		<string>them_1</string>
		<key>themeName</key>
		<string>测试1</string>
		<key>themeType</key>
		<integer>1</integer>
		<key>themeTypeText</key>
		<string>普通</string>
		<key>themeUrl</key>
		<string>http://tneopay.oss-cn-shanghai.aliyuncs.com/11/store/head/f6f1fc7ee4b547869ae8b82eafd1f7c3.jpeg</string>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>10</real>
		<key>billId</key>
		<integer>1075</integer>
		<key>contentString</key>
		<string>大红包发送成功</string>
		<key>createTime</key>
		<string>2017-12-14 15:02:36</string>
		<key>createTimeMs</key>
		<integer>1513234956000</integer>
		<key>dayCode</key>
		<string>20171214</string>
		<key>deleteStatus</key>
		<integer>2</integer>
		<key>deleteStatusText</key>
		<string>无效</string>
		<key>disPlayDate</key>
		<false/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/8e68c0ed3cf555f6836ab05f8ed97fc9.png</string>
		<key>id</key>
		<integer>230</integer>
		<key>msgType</key>
		<integer>2</integer>
		<key>msgTypeText</key>
		<string>支付消息</string>
		<key>payDirection</key>
		<integer>2</integer>
		<key>payDirectionText</key>
		<string>付款</string>
		<key>payNoticeType</key>
		<integer>8</integer>
		<key>payNoticeTypeText</key>
		<string>大红包发送成功</string>
		<key>readStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>remark</key>
		<string>test</string>
		<key>tradObject</key>
		<string>大红包</string>
		<key>tradType</key>
		<integer>17</integer>
		<key>tradTypeText</key>
		<string>发红包</string>
		<key>updateTime</key>
		<string>2017-12-14 15:02:36</string>
		<key>updateTimeMs</key>
		<integer>1513234956000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>billId</key>
		<integer>1032</integer>
		<key>content</key>
		<string>到账金额 30.00 元</string>
		<key>contentString</key>
		<string>充值到账成功</string>
		<key>createTime</key>
		<string>2017-12-13 19:11:57</string>
		<key>createTimeMs</key>
		<integer>1513163517000</integer>
		<key>dayCode</key>
		<string>20171213</string>
		<key>disPlayDate</key>
		<true/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/2d82edfe5f15f859bfab951ada3965c0.png</string>
		<key>id</key>
		<integer>106</integer>
		<key>msgType</key>
		<integer>3</integer>
		<key>msgTypeText</key>
		<string>手机充值消息</string>
		<key>noticeType</key>
		<integer>4</integer>
		<key>noticeTypeText</key>
		<string>手机充值</string>
		<key>payTypeDesc</key>
		<string>余额</string>
		<key>phone</key>
		<string>13727284750</string>
		<key>readStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>title</key>
		<string>充值到账成功</string>
		<key>updateTime</key>
		<string>2017-12-13 19:11:57</string>
		<key>updateTimeMs</key>
		<integer>1513163517000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>contentString</key>
		<string>asdf</string>
		<key>createTime</key>
		<string>2017-12-06 18:54:26</string>
		<key>createTimeMs</key>
		<integer>1512557666000</integer>
		<key>dayCode</key>
		<string>20171206</string>
		<key>disPlayDate</key>
		<true/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/caaad38f2bbb9ed9b91e4d0e0f232d50.png</string>
		<key>id</key>
		<integer>222</integer>
		<key>msgType</key>
		<integer>4</integer>
		<key>msgTypeText</key>
		<string>系统消息</string>
		<key>noticeContent</key>
		<string>asdf</string>
		<key>noticeImageUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/e89e4e66e1aabcd89e129e7c4e18f96a.jpg</string>
		<key>noticeUrl</key>
		<string>asdf</string>
		<key>payNoticeType</key>
		<integer>2</integer>
		<key>payNoticeTypeText</key>
		<string>系统消息</string>
		<key>raedStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>updateTime</key>
		<string>2017-12-06 18:54:26</string>
		<key>updateTimeMs</key>
		<integer>1512557666000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>contentString</key>
		<string>消息测试数据，来自于数据库</string>
		<key>createTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>createTimeMs</key>
		<integer>1512466630000</integer>
		<key>dayCode</key>
		<string>20171205</string>
		<key>disPlayDate</key>
		<true/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/caaad38f2bbb9ed9b91e4d0e0f232d50.png</string>
		<key>id</key>
		<integer>219</integer>
		<key>msgType</key>
		<integer>4</integer>
		<key>msgTypeText</key>
		<string>系统消息</string>
		<key>noticeContent</key>
		<string>消息测试数据，来自于数据库</string>
		<key>noticeImageUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/6373d35a4798709b8cba876876f57aad.png</string>
		<key>noticeUrl</key>
		<string>http://www.baidu.com</string>
		<key>payNoticeType</key>
		<integer>2</integer>
		<key>payNoticeTypeText</key>
		<string>系统消息</string>
		<key>raedStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>updateTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>updateTimeMs</key>
		<integer>1512466630000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>contentString</key>
		<string>消息测试数据，来自于数据库</string>
		<key>createTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>createTimeMs</key>
		<integer>1512466630000</integer>
		<key>dayCode</key>
		<string>20171205</string>
		<key>disPlayDate</key>
		<false/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/c5576de70f2a6fbf9e5b0237c353d883.png</string>
		<key>id</key>
		<integer>217</integer>
		<key>msgType</key>
		<integer>4</integer>
		<key>msgTypeText</key>
		<string>商家活动</string>
		<key>noticeContent</key>
		<string>消息测试数据，来自于数据库</string>
		<key>noticeImageUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/6373d35a4798709b8cba876876f57aad.png</string>
		<key>noticeUrl</key>
		<string>http://www.baidu.com</string>
		<key>payNoticeType</key>
		<integer>1</integer>
		<key>payNoticeTypeText</key>
		<string>商家活动</string>
		<key>raedStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>updateTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>updateTimeMs</key>
		<integer>1512466630000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>contentString</key>
		<string>消息测试数据，来自于数据库</string>
		<key>createTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>createTimeMs</key>
		<integer>1512466630000</integer>
		<key>dayCode</key>
		<string>20171205</string>
		<key>disPlayDate</key>
		<false/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/9ff3cbfcdc03c1ee884a50f099a45fd9.png</string>
		<key>id</key>
		<integer>215</integer>
		<key>msgType</key>
		<integer>4</integer>
		<key>msgTypeText</key>
		<string>商家广播</string>
		<key>noticeContent</key>
		<string>消息测试数据，来自于数据库</string>
		<key>noticeImageUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/6373d35a4798709b8cba876876f57aad.png</string>
		<key>noticeUrl</key>
		<string>http://www.baidu.com</string>
		<key>payNoticeType</key>
		<integer>4</integer>
		<key>payNoticeTypeText</key>
		<string>商家广播</string>
		<key>raedStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>updateTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>updateTimeMs</key>
		<integer>1512466630000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>contentString</key>
		<string>消息测试数据，来自于数据库</string>
		<key>createTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>createTimeMs</key>
		<integer>1512466630000</integer>
		<key>dayCode</key>
		<string>20171205</string>
		<key>disPlayDate</key>
		<false/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/06f3dae058c173d9ae245e87a1d0ae28.png</string>
		<key>id</key>
		<integer>213</integer>
		<key>msgType</key>
		<integer>4</integer>
		<key>msgTypeText</key>
		<string>系统活动</string>
		<key>noticeContent</key>
		<string>消息测试数据，来自于数据库</string>
		<key>noticeImageUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/6373d35a4798709b8cba876876f57aad.png</string>
		<key>noticeUrl</key>
		<string>http://www.baidu.com</string>
		<key>payNoticeType</key>
		<integer>3</integer>
		<key>payNoticeTypeText</key>
		<string>系统活动</string>
		<key>raedStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>updateTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>updateTimeMs</key>
		<integer>1512466630000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>contentString</key>
		<string>消息测试数据，来自于数据库</string>
		<key>createTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>createTimeMs</key>
		<integer>1512466630000</integer>
		<key>dayCode</key>
		<string>20171205</string>
		<key>disPlayDate</key>
		<false/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/caaad38f2bbb9ed9b91e4d0e0f232d50.png</string>
		<key>id</key>
		<integer>211</integer>
		<key>msgType</key>
		<integer>4</integer>
		<key>msgTypeText</key>
		<string>系统消息</string>
		<key>noticeContent</key>
		<string>消息测试数据，来自于数据库</string>
		<key>noticeImageUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/6373d35a4798709b8cba876876f57aad.png</string>
		<key>noticeUrl</key>
		<string>http://www.baidu.com</string>
		<key>payNoticeType</key>
		<integer>2</integer>
		<key>payNoticeTypeText</key>
		<string>系统消息</string>
		<key>raedStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>updateTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>updateTimeMs</key>
		<integer>1512466630000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
	<dict>
		<key>contentString</key>
		<string>消息测试数据，来自于数据库</string>
		<key>createTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>createTimeMs</key>
		<integer>1512466630000</integer>
		<key>dayCode</key>
		<string>20171205</string>
		<key>disPlayDate</key>
		<false/>
		<key>iconUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/c5576de70f2a6fbf9e5b0237c353d883.png</string>
		<key>id</key>
		<integer>209</integer>
		<key>msgType</key>
		<integer>4</integer>
		<key>msgTypeText</key>
		<string>商家活动</string>
		<key>noticeContent</key>
		<string>消息测试数据，来自于数据库</string>
		<key>noticeImageUrl</key>
		<string>https://neofile-test.oss-cn-shanghai.aliyuncs.com/13/redp/themeImg/6373d35a4798709b8cba876876f57aad.png</string>
		<key>noticeUrl</key>
		<string>http://www.baidu.com</string>
		<key>payNoticeType</key>
		<integer>1</integer>
		<key>payNoticeTypeText</key>
		<string>商家活动</string>
		<key>raedStatus</key>
		<integer>2</integer>
		<key>readStatusText</key>
		<string>未读</string>
		<key>updateTime</key>
		<string>2017-12-05 17:37:10</string>
		<key>updateTimeMs</key>
		<integer>1512466630000</integer>
		<key>uuid</key>
		<string>AnJ8xUoCkpVccr0Z</string>
	</dict>
</array>
</plist>
