# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
/node_modules/
/__tests__/
/android/gradle.properties
android/app/src/main/res/drawable-mdpi/src_res_img_bind_card_failed_icon.png
android/app/src/main/res/drawable-mdpi/src_res_img_bind_card_success_icon.png
android/app/src/main/res/drawable-mdpi/src_res_img_close_icon.png
android/app/src/main/res/drawable-mdpi/src_res_img_filter_income.png
android/app/src/main/res/drawable-mdpi/src_res_img_filter_trade.png
android/app/src/main/res/drawable-mdpi/src_res_img_hide_keyboard.png
android/app/src/main/res/drawable-mdpi/src_res_img_img_activity.png
android/app/src/main/res/drawable-mdpi/src_res_img_img_bank.png
android/app/src/main/res/drawable-mdpi/src_res_img_img_close.png
android/app/src/main/res/drawable-mdpi/src_res_img_img_dashed_line.png
android/app/src/main/res/drawable-mdpi/src_res_img_img_default_photo.png
android/app/src/main/res/drawable-mdpi/src_res_img_img_pay_code_bg.png
android/app/src/main/res/drawable-mdpi/src_res_img_img_select.png
android/app/src/main/res/drawable-mdpi/src_res_img_img_select_add_bank_card.png
android/app/src/main/res/drawable-mdpi/src_res_img_invalide_qr_code.png
android/app/src/main/res/drawable-mdpi/src_res_img_keyboard_clear.png
android/app/src/main/res/drawable-mdpi/src_res_img_my_asset.png
android/app/src/main/res/drawable-mdpi/src_res_img_scan_bottom_icon.png
android/app/src/main/res/drawable-mdpi/src_res_img_scan_line.png
android/app/src/main/res/drawable-mdpi/src_res_img_search_icon.png
android/app/src/main/res/drawable-mdpi/src_res_img_selected_icon.png
android/app/src/main/res/drawable-mdpi/src_res_img_three_points.png
android/app/src/main/res/drawable-mdpi/src_res_img_unselected_icon.png
android/app/src/main/res/drawable-mdpi/src_res_img_white_back_arrow.png
android/app/src/main/res/drawable-xhdpi/src_res_img_bankcardorder_wd_chongzhi.png
android/app/src/main/res/drawable-xhdpi/src_res_img_bankcardorder_wd_dahongbao.png
android/app/src/main/res/drawable-xhdpi/src_res_img_bankcardorder_wd_fukuan.png
android/app/src/main/res/drawable-xhdpi/src_res_img_bankcardorder_wd_pingtai.png
android/app/src/main/res/drawable-xhdpi/src_res_img_bankcardorder_wd_saosao.png
android/app/src/main/res/drawable-xhdpi/src_res_img_bankcardorder_wd_shangdian.png
android/app/src/main/res/drawable-xhdpi/src_res_img_bankcardorder_wd_tixian.png
android/app/src/main/res/drawable-xhdpi/src_res_img_bankicon_sy_gongshang.png
android/app/src/main/res/drawable-xhdpi/src_res_img_homepage_sy_chulizhong.png
android/app/src/main/res/drawable-xhdpi/src_res_img_homepage_sy_fasong.png
android/app/src/main/res/drawable-xhdpi/src_res_img_homepage_sy_shibai.png
android/app/src/main/res/drawable-xhdpi/src_res_img_homepage_sy_wenhao.png
android/app/src/main/res/drawable-xhdpi/src_res_img_homepage_sy_yue.png
android/app/src/main/res/drawable-xhdpi/src_res_img_lotteryrecord_wd_hongbao3.png
android/app/src/main/res/drawable-xhdpi/src_res_img_lotteryrecord_xx_hongbao6.png
android/app/src/main/res/drawable-xhdpi/src_res_img_lotteryrecord_xx_hongbao7.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_bankcardorder_wd_chongzhi.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_bankcardorder_wd_dahongbao.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_bankcardorder_wd_fukuan.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_bankcardorder_wd_pingtai.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_bankcardorder_wd_saosao.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_bankcardorder_wd_shangdian.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_bankcardorder_wd_tixian.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_bankicon_sy_gongshang.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_homepage_sy_chulizhong.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_homepage_sy_fasong.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_homepage_sy_shibai.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_homepage_sy_wenhao.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_homepage_sy_yue.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_lotteryrecord_wd_hongbao3.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_lotteryrecord_xx_hongbao6.png
android/app/src/main/res/drawable-xxhdpi/src_res_img_lotteryrecord_xx_hongbao7.png
